/* used colors */

$light-light-gray: #eee;
$light-gray: #ddd;
$gray: #ccc;
$dark-gray: #aaa;

$lime-green: #99cc00;
$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;
$magenta: #ff00ff;

/* setting */

/* colors */

$table-header-bg: $light-gray;
$table-border-color: $dark-gray;
$resize-slider-color: $gray;
$resize-slider-hover: $lime-green;

/* fonts */

$table-header-font-size: 11pt;
$table-font-size: 10pt;
$table-font-family: "Open Sans", sans-serif;
$table-striped-bg: $light-light-gray;

