$gray: #eee;
$dark-gray: #ccc;
$darker-gray: #dedede;

$red: #ff0000;
$blue: #0000ff;

$lime-green: #99cc00;

table#dynamic {    
    table-layout: fixed;
    border-width: 0 0 1px 1px;
    border-color: $dark-gray;
    border-style: solid;
    
    td,th {
        border-width: 1px 1px 0 0;
        border-color: $dark-gray;
        border-style: solid;
        width: 100px;
        
        margin: 0;
        padding: 0;
        vertical-align: bottom;
        
        width: 100px;
    }
    
    th {
        font-style: normal;
        font-weight: normal;
        background: $gray;
    }
    
    td.first {
        width: 50px;
    }
}

div.dx {    
    float: right;    
    width: 5px; 
    height: 30px; 
    cursor: w-resize; 
    background: $darker-gray;
}

div.dx:hover, div.dy:hover {
    background: $lime-green;
}

div.dy {        
    width: 100%;
    height: 5px;
    cursor: n-resize;  
    background: $darker-gray;
}
